/* ==========================================================================
     Reset y estilos base
     ========================================================================== */

@media (prefers-reduced-motion: no-preference) {
  :where(html) {
    scroll-behavior: smooth;
  }

  :where(:focus-visible) {
    transition: outline-offset 145ms var(--ease-2);
  }

  :where(:not(:active):focus-visible) {
    transition-duration: 0.25s;
  }
}

:where(
    a[href],
    area,
    button,
    input,
    label[for],
    select,
    summary,
    textarea,
    [tabindex]:not([tabindex*="-"])
  ) {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

/* ==========================================================================
     Carousel base
     ========================================================================== */

.carousel {
  anchor-name: --carousel;
  container-type: inline-size;
  inline-size: 100cqi;
  list-style-type: none;
  padding: 1rem;
  scroll-padding: 1rem;

  /* Layout */
  display: grid;
  grid-auto-flow: column;
  gap: 1.5rem;

  /* Scroll */
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;


  &:focus-visible {
    scrollbar-color: #91a7ff transparent;
    outline: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    inline-size: 50cqi;
  }
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.carousel__slide {
  container-type: scroll-state;
  scroll-snap-align: center;
  scroll-snap-stop: always;

  :where(.carousel--offscreen-inert) & {
    animation: offscreen-inert linear both;
    animation-timeline: view(x);
  }

  :where(.carousel--unsnapped-inert) & {
    animation: offscreen-inert linear both;
    animation-timeline: view(x);
    container-type: scroll-state;

    /* for support browser */
    @supports (container-type: scroll-state) {
      & > * {
        @container not scroll-state(snapped) {
          interactivity: inert;
        }
      }
    }

    /* fallback for old browsers */
    @supports not (container-type: scroll-state) {
      & > * {
        @container style(scroll-state: snapped) {
          /* interactivity: inert; no existe, usar alternativa */
          pointer-events: none;
          user-select: none;
        }
      }
    }
  }
}

.scroll-start {
  scroll-initial-target: nearest;
}

/* ==========================================================================
     Card styles
   ========================================================================== */

.card {
  inline-size: min(343px, 90cqi);
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 3px 5px -2px hsl(220 40% 2% / calc(10% + 3%)),
    0 7px 14px -5px hsl(220 40% 2% / calc(10% + 5%));
  overflow: clip;
  /* align-content: end; */

  @media (prefers-color-scheme: light) {
    background: white;
  }

  > figure {
    display: grid;
    place-items: end stretch;

    > * {
      grid-area: 1 / 1;
    }

    > figcaption {
      max-inline-size: 100%;
      display: grid;
      justify-items: start;
      gap: 0.5rem;
      transition: transform 0.3s cubic-bezier(0.25, 0, 0.3, 1),
        opacity 0.3s cubic-bezier(0.25, 0, 0.3, 1);
      background: linear-gradient(to top, #000, 75%, #0000);
      padding-inline: 1.5rem;
      padding-block: 4rem 1rem;

      &:focus-within {
        transform: translateY(0%);
      }
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    /* for support browser */
    @supports (container-type: scroll-state) {
      .carousel__slide {
        container-type: scroll-state;
      }

      @container not scroll-state(snapped: inline) {
        figcaption {
          transform: translateY(100%);
        }
      }
    }

    /* Fallback for old browsers */
    @supports not (container-type: scroll-state) {
      .carousel__slide:not(.snapped) figcaption {
        transform: translateY(100%);
      }
    }
  }
}

/* ==========================================================================
     Scroll markers
     ========================================================================== */

.carousel--scroll-markers {
  scroll-marker-group: before;

  &::scroll-marker-group {
    position: absolute;
    position-anchor: --carousel;
    container: marker-group / inline-size;
    display: grid;
    gap: 0.5rem;
    place-content: safe center;
    box-sizing: border-box;
    border-radius: 1e5px;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding-block: 0;
    block-size: 44px;
  }

  &:where(:not(.carousel--vertical), .carousel--bidi)::scroll-marker-group {
    inline-size: 100%;
    max-inline-size: min(90cqi, 210px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    padding: 5px 10px;
    scroll-padding-inline: 10px;
    mask: linear-gradient(
      to right,
      transparent 0,
      black 10px,
      black calc(100% - 10px),
      transparent 100%
    );
    top: anchor(bottom);
    left: calc(anchor(left) - 10%);
    right: calc(anchor(right) - 10%);
    margin-block: var(--size-3);
    grid-auto-columns: var(--size-3);
    grid-auto-flow: column;
    justify-self: center;
  }

  .carousel__slide {
    &::scroll-marker {
      display: inline-flex;
      width: 15px;
      content: "" / attr(data-label);
      scroll-snap-align: center;
      aspect-ratio: 1;
      border: 1px solid light-dark(#868e96, #868e96);
      border-radius: 1e5px;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      text-decoration: none;
      transition: transform 0.3s
          linear(
            0,
            0.007,
            0.029 2.2%,
            0.118 4.7%,
            0.625 14.4%,
            0.826 19%,
            0.902,
            0.962,
            1.008 26.1%,
            1.041 28.7%,
            1.064 32.1%,
            1.07 36%,
            1.061 40.5%,
            1.015 53.4%,
            0.999 61.6%,
            0.995 71.2%,
            1
          ),
        outline-offset 0.25s cubic-bezier(0.25, 0, 0.3, 1);
      animation: scale-in-and-out linear both;
      animation-timeline: view(x);
      interactivity: auto;
    }

    &::scroll-marker:target-current {
      background: #91a7ff;
      border-color: #91a7ff;
    }

    @media (forced-colors: active) {
      &::scroll-marker:target-current {
        background: Highlight;
        border-color: Highlight;
      }
    }

    &::scroll-marker:not(:active):hover {
      transform: scale(1.25);
    }

    &::scroll-marker:not(:active):focus {
      outline: 2px solid #91a7ff;
      outline-offset: 2px;
    }

    :where(.carousel--vertical) &::scroll-marker {
      animation-timeline: view(y);
    }
  }
}

/* ==========================================================================
     Scroll buttons
     ========================================================================== */

.carousel--scroll-buttons {
  &::scroll-button(*) {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    z-index: 1;
    position-anchor: --carousel;
    font-size: 1.25rem;
    inline-size: 44px;
    margin: 1rem;
    font-family: "Material Symbols Outlined";
    line-height: 1;
    font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
    display: flex;
    place-items: center;
    place-content: center;
    aspect-ratio: 1;
    background: none;
    border: 1px solid #495057;
    border-radius: 1e5px;
    transition: transform 0.3s
        linear(
          0,
          0.009,
          0.035 2.1%,
          0.141 4.4%,
          0.723 12.9%,
          0.938 16.7%,
          1.017,
          1.077,
          1.121,
          1.149 24.3%,
          1.159,
          1.163,
          1.161,
          1.154 29.9%,
          1.129 32.8%,
          1.051 39.6%,
          1.017 43.1%,
          0.991,
          0.977 51%,
          0.974 53.8%,
          0.975 57.1%,
          0.997 69.8%,
          1.003 76.9%,
          1
        ),
      opacity 0.5s cubic-bezier(0.25, 0, 0.3, 1),
      background-color 0.3s cubic-bezier(0.25, 0, 0.3, 1),
      outline-offset 0.25s cubic-bezier(0.25, 0, 0.3, 1);

    @media (forced-colors: active) {
      background: Canvas;
    }
  }

  /* Horizontal buttons */
  &:where(:not(.carousel--vertical), .carousel--bidi) {
    &::scroll-button(right) {
      position-area: inline-start center;
      content: "arrow_forward" / "Scroll Right";
    }

    &::scroll-button(left) {
      position-area: inline-end center;
      content: "arrow_back" / "Scroll Left";
    }

    @container (inline-size >= calc(100cqi - 120px)) {
      &::scroll-button(right),
      &::scroll-button(left) {
        position-area: center span-inline-end;
      }
    }
  }

  /* Vertical buttons */
  &:where(.carousel--vertical, .carousel--bidi) {
    &::scroll-button(down) {
      position-area: inline-start center;
      content: "arrow_downward" / "Scroll Down";
    }

    &::scroll-button(up) {
      position-area: inline-start center;
      content: "arrow_upward" / "Scroll Up";
    }

    @container (block-size >= calc(100cqb - 120px)) {
      &::scroll-button(up),
      &::scroll-button(down) {
        position-area: center span-inline-end;
      }
    }
  }

  /* Button states */
  &::scroll-button(*):not(:disabled):is(:hover, :focus-visible) {
    background-color: light-dark(white, #212529);
    border-color: #868e96;
    font-variation-settings: "opsz" 30;
    transform: scale(1.1);
  }

  &::scroll-button(*):not(:active):focus-visible {
    outline-offset: 2px;
    outline: 2px solid #91a7ff;
  }

  &::scroll-button(right):not(:disabled):active {
    transform: translateX(5px) scale(0.95);
  }

  &::scroll-button(left):not(:disabled):active {
    transform: translateX(-5px) scale(0.95);
  }

  &::scroll-button(up):not(:disabled):active {
    transform: translateY(-5px) scale(0.95);
  }

  &::scroll-button(down):not(:disabled):active {
    transform: translateY(5px) scale(0.95);
  }

  &::scroll-button(*):disabled {
    opacity: 25%;
    cursor: not-allowed;
  }
}

/* Legacy positions for scroll buttons */
.carousel {
  &::scroll-button(right) {
    position-area: block-end span-inline-start;
  }

  &::scroll-button(left) {
    position-area: block-end span-inline-end;
  }
}

/* ==========================================================================
     Animations
     ========================================================================== */

@keyframes scale-in-and-out {
  entry 0% {
    transform: scale(0.25);
  }
  entry 100% {
    transform: scale(1);
  }
  exit 0% {
    transform: scale(1);
  }
  exit 100% {
    transform: scale(0.25);
  }
}

@keyframes offscreen-inert {
  entry 0%,
  exit 100% {
    interactivity: inert;
  }
  entry 100%,
  exit 0% {
    interactivity: auto;
  }
}
