---
import "../styles/global.css";
import BaseHead from "@/components/layout/head/index.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} description={description}>
    <slot name="seo-schema" />
  </BaseHead>
  <body>
    <slot name="main-content" />
  </body>
</html>
