---
// TODO: Implement initAccordions() from @/scripts/ui-events/accordion.ts
interface Props {
  label: string;
  class?: string;
}
const { label, class: className } = Astro.props;
---

<div class={`js-accordion ${className || ''}`}>
  <button
    class="js-toggle w-full py-0.5 flex justify-between items-center text-left transition-colors rounded-lg"
  >
    <span class="">{label}</span>
    <svg
      class="js-icon w-6 h-6 transform transition-transform duration-300"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 9l-7 7-7-7"></path>
    </svg>
  </button>
  <div
    class="js-content overflow-hidden transition-all duration-300 ease-in-out"
    style="height: 0px;"
  >
    <slot />
  </div>
</div>
